.background{
    color: black;
}
body{
    color: black;

}

img{
    background-color: #007;

}
.card{
    border-radius: 30px;
    display: flex;
    max-height: 59.44px;
    align-items: flex-end;
    overflow: hidden;
    flex-grow: 1;
    cursor: pointer;
    transition: flex-grown 0.5s ease;
    --transition-timing: 0.35s;
    color: black;
    align-content: center;
    justify-content: center;
    background-color: grey;
    flex: 1 1 200px;
}
.card:hover{    
    flex-grow: 7;

}
.card > .background {
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.4);
    z-index: -1;
    transition: var(--transition-timing) ease;
}

.card:hover > .background {
    filter: brightness(1);
}

.title{
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
}

.backdrop{
    margin: 0;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evently;
    flex-wrap: wrap;
    height: 500px;
    margin: 20px;
    width: 500;
    padding-top: 100px;
    padding-left: 100px;
    gap: 10px;
    align-items: center;
}